<!DOCTYPE html>
  <html lang="en">
{% include header.html %}
{% include navbar.html %}
<body class="bg-white" style="padding-top:80px">
      <section id="mainbanner" class="" style="height: 90vh;background-image:url('https://taosolutions.dev/cloud/wl/?id=FcfCHGLCvDHRYjkawtgf1rT6EmmFueJX');background-position: center center;background-size:cover;background-attachment: fixed;">
        <div class="container" style="padding-top:30vh">
        <div class="row pt-5">
            <div class="col-md-12 col-lg-12 col-sm-12" data-aos="fade-up" data-aos-duration="3000">
              <h1 class="main-banner-h1 text-bolder responsive-font-h1 text-white text-center">Web 3.0 and the race towards privacy</h1>
            </div>     </div>
            </div>
            <div >

            </div>
            </div>
          </div>
      </section>

  <section id="secondbanner" class="py-5" style="background-image:url('https://etacticsgroup.com/cloud/wl/?id=B99aEGaf2tTTY61gEokVle49gp2NFzSe');background-attachment: fixed">
  <div class="container py-5">
  <div class='row text-left ps-1'>
    <style>
      .border-right-ata{
        border:solid black;
        border-width:0 1px 0 0;
      }
    </style>
        <div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//gmzxduhd.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">Beginnings</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
        <div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//puvaffet.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">Mission</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
<div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata" style="border-right:0px">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//hovbgwmd.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">Journey</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
      
    </div>
 
  </div>
      </section>

      <section class="pt-5 bg-white">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="row py-4">

            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto my-auto">

              <h1 class="text-ata text-left">Feature-rich services</h1>
<p class="lead">Here at Automata, our services are purpose-built for Web 3.0. Witness, our private governance solution, was launched and introduced to the industry in March 2021, and has since gone on to be supported by various blockchains including Plasm, Clover Finance and Crust Network, with further integration on Ethereum and Binance Smart Chain. </p>
<p class="lead">We’re also working hard on building an invisibility cloak for the Dark Forest characterized by  the highly transparent, highly adversarial environment of public blockchains. Check out Conveyor, our MEV Minimization solution. </p>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 pb-5 my-auto">
        <div class="card bg-white text-center m-4" style="border:none">

  <img loading="lazy"src="https://taosolutions.dev/cloud/wl/?id=Ij7QHkjbvI6t8f30Ar1W6c3S5SHJnFF4">
  </div>
      </div>
    </div>
                  <!--2nd -->
                  <div class="row py-4">
<div class="col-md-6 col-sm-12 col-lg-6 pb-5 my-auto">
        <div class="card bg-white text-center m-4" style="border:none">
<img loading="lazy"src="https://taosolutions.dev/cloud/wl/?id=eNBVnrHbkHsDabeq1gCMSzwnNPFjvdDv">

  </div>
      </div>
            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto my-auto">

              <h1 class="text-ata text-left">Non-intrusive</h1>
<p class="lead" style="float:right;">Among other things, we’re committed to making the deployment of our solutions a seamless one. This means near-zero modification for any and every dApps interface and logic. No distractions from the Web3.0 vision, no holding back the product getting into the hands of users. </p>
<p class="lead">We’ve spent a lot of time and effort building our infrastructure so you won’t have to repeat the process. Why not give it a try? 
</p>
      </div>
      
    </div>
    <div class="row py-4">

            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto my-auto">

              <h1 class="text-ata text-left">Universal compatibility </h1>
<p class="lead">We strive to create a more collaborative and connected Web3.0 ecosystem and part of this relates to the design of our services that are compatible with existing dApps on multiple chains. As we work to accelerate the development of Web3.0 in impactful, practical ways,  integration and scalability must happen at a global level. </p>
<p class="lead">If you’re keen to contribute to this future, more hands on deck is always welcome - our Github is open-source!</p>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-6 pb-5 my-auto">
        <div class="card bg-white text-center m-4" style="border:none">

<img loading="lazy"src="https://taosolutions.dev/cloud/wl/?id=9kzeVNN18KG51m2vDtaYUTz43f9hPbw7">
  </div>
      </div>
    </div>
    <div class="container pb-5">
    <div class="row mx-auto text-center">
              <div class="col-md-12 col-lg-12 col-sm-12 mt-4 pt-4 text-center">
        <style>
          .discover-btn:hover{
            background-color:white !important;
            color:#fb641d !important;
            border-color: #fb641d;
          }
          
        </style>
        <!-- <p class="btn btn-light text-ata border border-warning">Discover our Technology</p> -->
  <!--       <a href="" class="btn btn-light bg-white text-ata border border-warning rounded m-4 p-4" style="border-width: 3px !important"><h4 class="mb-0"></h4></a> -->
             <h1 class="main-banner-h1 text-center" data-aos="zoom-out"><a class="discover-btn responsive-font-button m-4 p-4 btn text-white bg-ata" style="">Let's Connect</a></h1>
      </div>
      </div>
  </div>
  </div>
  
  </div>
</section>
<!-- test-->


  <section class="py-5" style="background-image:url('https://taosolutions.dev/cloud/wl/?id=a8BQtNBdBVU6WeO792sMMz7qMfIOubMW');background-size:cover;">
    <div class="container py-5 my-5">
      <div class="row text-center mx-auto">
        <div class="col-md-8 col-lg-8 col-sm-12 mx-auto">
          <h2 class="text-white text-bold" data-aos="zoom-in">Built On Cutting-edge Technology</h2>

        </div>
        
      </div>
    </div>
  </section>

  <section class="py-4">
    <div class="container mx-auto px-0 text-center">
      <div class="row mx-auto text-center">
    <!-- <div class='col-md-12 py-4'>
      <h1 class='text-center third-banner-h3 text-bolder'>Protocol Overview</h1>
    </div> -->
  <div class="col-md-12 col-sm-12 col-lg-12 text-center py-5 px-0">
    <img class="img-fluid"src="{{site.url}}/assets/img/ata-gif-1.gif">
    
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 mx-auto text-center pt-5 px-0">
    <h1 class="pb-2">Geode: First to use ORAM + TEE</h1>
    <img class="img-fluid"src="https://taosolutions.dev/cloud/wl/?id=8RA92SSjaLA6tKOHfkeeKpbByUsBhLpQ">
  </div>
<div class="offset-lg-3 offset-md-3 col-md-3 col-sm-12 col-lg-3 text-left px-0" style="text-align: left!important" data-aos="fade-in" data-aos-duration="3500">
  <svg style="text-align:left!important"height="52pt" viewBox="0 -107 512 512" width="52pt" xmlns="http://www.w3.org/2000/svg"><path d="m362.667969 0h-213.335938c-82.324219 0-149.332031 66.988281-149.332031 149.332031 0 82.347657 67.007812 149.335938 149.332031 149.335938h213.335938c82.324219 0 149.332031-66.988281 149.332031-149.335938 0-82.34375-67.007812-149.332031-149.332031-149.332031zm-213.335938 234.667969c-47.058593 0-85.332031-38.273438-85.332031-85.335938 0-47.058593 38.273438-85.332031 85.332031-85.332031 47.0625 0 85.335938 38.273438 85.335938 85.332031 0 47.0625-38.273438 85.335938-85.335938 85.335938zm0 0"/></svg>
 <p style="text-align: left"> TEE creates an isolated execution environment, enclave</p>
</div>
<div class="col-md-3 col-sm-12 col-lg-3 mx-auto text-left px-0"style="text-align: left!important"data-aos="fade-in"data-aos-duration="3500">
    <svg style="text-align:left!important"height="52pt" viewBox="0 -107 512 512" width="52pt" xmlns="http://www.w3.org/2000/svg"><path d="m362.667969 0h-213.335938c-82.324219 0-149.332031 66.988281-149.332031 149.332031 0 82.347657 67.007812 149.335938 149.332031 149.335938h213.335938c82.324219 0 149.332031-66.988281 149.332031-149.335938 0-82.34375-67.007812-149.332031-149.332031-149.332031zm-213.335938 234.667969c-47.058593 0-85.332031-38.273438-85.332031-85.335938 0-47.058593 38.273438-85.332031 85.332031-85.332031 47.0625 0 85.335938 38.273438 85.335938 85.332031 0 47.0625-38.273438 85.335938-85.335938 85.335938zm0 0"/></svg>
<p style="text-align: left">Oblivious RAM conceals data access patterns from enclave to storage</p>
</div>
</div>
      </div>
  </section>
      {% include footer.html %}
      {% include scripts.html %}
    </body>
  </html>