  <!doctype html>
  <html lang="en">
{% include header.html %}
{% include navbar.html %}
    <body class="bg-white pt-80px">
      <!-- 1 - Main Banner Section -->
      <section class="main-banner-bg vh-90">
        <div class="container pt-5">
          <div class="row pt-5">
            <div class="col-md-12 col-lg-12 col-sm-12 pt-5">
              <h1 class="responsive-font-h1 p-2 text-bold text-white text-center">Achieve privacy, high assurance</h1>
              <h1 class="responsive-font-h1 p-2 text-bold text-white text-center">and frictionless computation</h1>
              <h1 class="p-2 text-center">
                <a class="white-cta-btn font-size-button text-bold m-4 p-4 btn btn-light text-ata" href="https://witness.ata.network/" target="_blank">Explore Solutions</a>
              </h1>
              <div class="bubble-wrap">
                <div class="bubbles">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1 - Main Banner Section -->

      <!-- 2 - Logo Banner Section -->
      <section class="bg-white py-4">
        <div class="container border-dark">
          <div class='row text-center'>
            <div class='col-md-2 col-sm-2 col-4 mx-auto'>
              <div class='img-fluid'>
                <a target="_blank" href="https://www.coindesk.com/automata-network-launches-with-1m-in-funding-to-help-keep-dapps-private">
                  <img class='logo-image' src='assets/img/coindesk-logo.png'>
                </a>
              </div>
            </div>
            <div class='col-md-2 col-sm-2 col-4 mx-auto'>
              <div class='img-fluid'>
                <a target="_blank" href="https://news.yahoo.com/automata-network-launches-1m-funding-160013946.html?guccounter=2">
                  <img class='logo-image' src='assets/img/yahoo-logo.png'>
                </a>
              </div>
            </div>
            <div class='col-md-2 col-sm-2 col-4 mx-auto'>
              <div class='img-fluid'>
                <a target="_blank" href="https://www.techinasia.com/blockchain-tech-startup-automata-network-launches-1m-seed-raise">
                  <img class='logo-image' src='assets/img/techinasia-logo.png'>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 2 - Logo Banner Section -->

      <!-- 3 - Technology Section -->
      <section class="py-4 technology-banner-bg">
        <div class='container pt-4'>
          <!-- Replacing Text Section -->
          <div class="row">
            <div class='col-md-12'>
              <h3 class='text-center px-10'>Building the last piece of the Web 3.0 puzzle</h3>
            </div>
            <div class='col-md-12 my-2 py-2 pb-4 mb-4'>
              <div class="content">
                <div class="slider-wrapper desktop-only">
                  <div class="text-slider text-right">
                    <div class="slider-up text-right">MEV Prevention</div>
                    <div class=" text-right">Governance </div>
                    <div class=" text-right">MEV Prevention</div>
                  </div>
                  <span class="pt-10px">
                    using
                  </span>
                  <div class="text-slider text-left">
                    <div class="slider-down text-left">Conveyor</div>
                    <div class="text-left">Witness</div>
                    <div class="text-left">Conveyor</div>
                  </div>
                </div>
                <div class="slider-wrapper mobile-only">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="text-slider">
                        <div class="slider-up">MEV Prevention</div>
                        <div class="">Governance </div>
                        <div class="">MEV Prevention</div>
                      </div>
                    </div>
                    <div class="col-sm-12 text-center">
                      <span class="pt-10px">
                        using</span>
                    </div>
                    <div class="col-sm-12">
                      <div class="text-slider">
                        <div class="slider-down">Conveyor</div>
                        <div class="">Witness</div>
                        <div class="">Conveyor</div>
                      </div>
                    </div>
                  </div>
                </div>       
              </div>
            </div>
          </div>
          <!-- End Replacing Text Section -->
          <div class="row text-left mx-auto mb-4 pb-4">
            <div class="col-md-4 col-sm-12 col-lg-4 pb-5 mx-auto">
              <div class="card bg-light rounded-card shadow-lg mh-390 text-center pt-4 mx-4 technology-card-shadow">
                <lord-icon src="https://cdn.lordicon.com//zpxybbhl.json" trigger="hover" colors="primary:#121331,secondary:#fb641d"class="technology-lord-icon">
                </lord-icon>
                <div class="card-body">
                  <h5 class="card-title text-ata text-center text-bold pb-2" style="">Traceless Privacy</h5>
                  <p class="card-text mobile-text-center card-text-ata">Anonymous voting for DAOs</p>
                  <p class="card-text mobile-text-center card-text-ata">Secret messaging between networks</p>
                  <p class="card-text mobile-text-center card-text-ata">Do-not-track querying for indexers</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 pb-5 mx-auto">
              <div class="card bg-light rounded-card shadow-lg mh-390 text-center pt-4 mx-4 technology-card-shadow">
              <lord-icon src="https://cdn.lordicon.com//ktxpktdd.json" trigger="hover" colors="primary:#121331,secondary:#fb641d" class="technology-lord-icon">
              </lord-icon>
                <div class="card-body">
                  <h5 class="card-title text-ata text-center text-bold pb-2" style="">High Assurance</h5>
                  <p class="card-text mobile-text-center card-text-ata">Front-running prevention for DEXs</p>
                  <p class="card-text mobile-text-center card-text-ata">Tamper-proof data sourcing for oracles</p>
                  <p class="card-text mobile-text-center card-text-ata">Robust randomness for apps</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 pb-5 mx-auto">
              <div class="card bg-light rounded-card shadow-lg mh-390 text-center pt-4 mx-4 technology-card-shadow">
              <lord-icon src="https://cdn.lordicon.com//wcjauznf.json" trigger="hover" colors="primary:#121331,secondary:#fb641d" class="technology-lord-icon">
              </lord-icon>
                <div class="card-body">
                  <h5 class="card-title text-ata text-center text-bold pb-2" style="">Frictionless Computation</h5>
                  <p class="card-text mobile-text-center card-text-ata">Speedy cross-chain transactions</p>
                  <p class="card-text mobile-text-center card-text-ata">Sub-second layer 2 for chains</p>
                  <p class="card-text mobile-text-center card-text-ata">Non-intrusive protection for DeFi</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 mt-4 pt-4 text-center">
              <h1 class="p-2 text-center" ><a target="_blank"href="https://medium.com/atanetwork/technical/home "class="orange-cta-btn ata-secondary font-size-button m-4 p-4 btn text-white bg-ata" style="">Discover our Technology</a></h1>
            </div>
          </div>
        </div>
      </section>
      <!-- 3 - Technology Section -->

      <!-- 4 - Testimonial Section -->
      <section class="py-5 my-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-10 mx-auto">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner shadow testimonials-card-rounded">
                <!-- Testimonial 1 -->
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/plasm-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>"We quickly understood the ideological relevance of Witness in relation to our mission of building out the infrastructure for Web3. With its privacy-first mandate, this partnership will add to our ecosystem meaningfully."</p>
                          <p class="text-bold">Sota Watanabe | Founder of Plasm</p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-plasm-56605d6f2d16"  class="text-decoration-none text-ata hover-gray">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 1 -->
                  <!-- Testimonial 2 -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/clover-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>“Amidst heightened expectations around privacy, Witness is on the next wave of innovation that allows those working on decentralisation to build one level up from there."</p>
                          <p class="text-bold">Norelle Ng | Co-Founder at Clover Finance</p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-clover-finance-7494f3402a6d" class="text-decoration-none text-ata learn-more-hover">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 2 -->
                  <!-- Testimonial 3 -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/crust-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>“With its singular focus on privacy, Witness will bolster our efforts of remaining committed to users’ autonomy and control as the confluence of blockchain and data ecosystems continue to grow."</p>
                          <p class="text-bold"> Crust Network </p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-crust-c7edeb501998"  class="text-decoration-none text-ata learn-more-hover">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 3 -->
                  <!-- Testimonial 4 -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/bounce-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>"Community voting is such a crucial element of sound governance. As our community continues to grow from strength to strength, Witness will allow the process of decision-making to become truly private and democratic."</p>
                          <p class="text-bold"> Chandler Song | Co-Founder at Bounce Finance </p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-bounce-17a2fe3cd352"  class="text-decoration-none text-ata learn-more-hover">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 4 -->
                  <!-- Testimonial 5 -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/mathwallet-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>"The partnership with Automata Network will empower MathWallet to provide privacy-protection operations to our wallet users, which is an important feature for the next-generation crypto wallet."</p>
                          <p class="text-bold"> Eric Yu | CTO of Math</p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-mathwallet-5fd7fe7255d6"  class="text-decoration-none text-ata learn-more-hover">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 5 -->
                  <!-- Testimonial 6 -->
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 testimonials-card-logo-container bg-dark">
                        <div class="mx-auto text-center p-relative">
                          <img src="assets/img/celer-logo.png" class="testimonials-card-logo" alt="...">
                        </div>
                      </div>
                      <div class="col-md-8 col-lg-8 my-auto">
                        <div class="mx-5 py-4 mx-0-mobile">
                          <p>"We see Witness as a unique solution to some of the most challenging issues faced by decentralised project governance including privacy and integrity, while keeping a simple-to-use interface for community members. We are excited to explore the opportunity to work with the Automata team to enable better decentralised governance for applications built on top of Celer."</p>
                          <p class="text-bold"> Mo Dong | Co-Founder at Celer Network </p>
                          <a href="https://medium.com/atanetwork/our-partnership-with-celer-network-65b436e8a47c"  class="text-decoration-none text-ata learn-more-hover">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Testimonial 6 -->
                </div>
              <button class="carousel-control-prev text-dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="fas fa-arrow-left" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next text-dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="fas fa-arrow-right" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 4 - Testimonial Section -->

      <!-- 5 - News Section -->
      <section class="py-4">
        <div class="container">
          <div class="row mx-auto">
            <div class='col-md-12 py-4'>
              <h1 class='text-center px-10 text-bold'>Read the Latest</h1>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 pb-4">
              <div class="card mh-430">
                <img src="assets/img/news-image-1.jpeg" class="card-img-top" alt="...">
                <div class="card-body mh-260">
                  <h5 class="card-title mh-65">The Front-running Debate — A look at TradFi</h5>
                  <p class="card-text">As the topic of MEV (Miner Extractable Value) gains more limelight there’s parallels being drawn between MEV extractors and High Frequency…</p>
                  <a href="https://medium.com/atanetwork/the-front-running-debate-a-look-at-tradfi-fc27cf24ef7f" class="text-ata hover-black text-decoration-none">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 pb-4">
              <div class="card mh-430">
                <img src="assets/img/news-image-2.jpeg" class="card-img-top" alt="...">
                <div class="card-body mh-260">
                  <h5 class="card-title mh-65">Our Partnership with Plasm</h5>
                  <p class="card-text">An absolute delight to share that we’re partnering up with Plasm to bring Witness as an off-chain governance solution to their network…</p>
                  <a href=" https://medium.com/atanetwork/our-partnership-with-plasm-56605d6f2d16" class="text-ata hover-black text-decoration-none">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 pb-4">
              <div class="card mh-430">
                <img src="assets/img/news-image-3.jpeg" class="card-img-top" alt="...">
                <div class="card-body mh-260">
                  <h5 class="card-title mh-65">Introduction to SGX — Side-Channel Attacks</h5>
                  <p class="card-text">In our previous post, we provided an introduction to Trusted Execution Environments like Intel SGX. Given that we are able to hermetically seal our documents...</p>
                  <a href="https://medium.com/atanetwork/introduction-to-sgx-side-channel-attacks-e29f3be854b0" class="text-ata hover-black text-decoration-none">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 5 - News Section -->
      
      <!-- 6 - Our Investors Section -->
      <section class="py-4">
        <div class="container py-4">
          <div class="row">
            <div class='col-md-12 pb-4'>
              <h1 class='text-center px-10 text-bold'>Our Investors</h1>
            </div>
          </div>

        <div class="container">
          <div class="row">
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.alameda-research.com/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="assets/img/alameda-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.div.vc/ " target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="assets/img/divergence-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://gbv.capital/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="assets/img/gbv-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://iosg.vc/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="assets/img/iosg-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.kryptonite1.co/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="assets/img/kr1-logo.png">
                </div>
              </a>
            </div>
          </div>
        </div>
        </section>
        <!-- 6 - Our Investors Section -->
{% include footer.html %}
{% include scripts.html %}
  </body>
</html>