<!DOCTYPE html>
  <html lang="en">
{% include header.html %}
{% include navbar.html %}
    <body class="bg-white pt-80px">
      <!-- First Banner -->
      <section class="bg-light vh-90">
        <div class="container pt-15vh">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto text-center" data-aos="fade-up" data-aos-duration="3000"style="border-right:15px #F9B249 solid;">
              <h1 class="text-bolder responsive-font-h1-witness text-ata text-center">Build</h1>
              <img style="max-width:300px"class="text-center mx-auto responsive-image"src="{{site.url}}/assets/img/resources-brain.png">
              <p>Explore and develop the Automata ecosystem</p>
            </div>    
<div class="col-md-6 col-lg-6 col-sm-12 mx-auto text-center" data-aos="fade-up" data-aos-duration="3000" style="border-left:15px #F9B249 solid;
">
                <h1 class="text-bolder responsive-font-h1-witness text-ata text-center">Learn</h1>
              <img style="max-width:300px"class="text-center mx-auto responsive-image"src="{{site.url}}/assets/img/resources-graph.png">
              <p>Find guides and reference documentation</p>

            </div> 
          </div>
            </div>
      </section>
      <!-- First Banner -->
      <!-- Second Banner -->
  <section class="py-5 witness-second-banner-bg">
  <div class="container py-5">
  <div class='row text-center ps-1'> 
<div class='col-md-6 col-sm-12 col-lg-6 col-xs-12 mx-auto pb-4 text-center' data-aos="fade-in">
<h2 class="second-section-witness text-bolder text-ata responsive-font-h1 text-center pb-4">Lorem Ipsum</h2>
</div>
<div class="row py-3 text-center ps-1 mx-auto">
    <div class='col-md-5 col-sm-12 col-lg-5 col-xs-12 mx-auto pb-4 text-center my-auto' data-aos="fade-in">
<img src="{{site.url}}/assets/img/witness-bg-main.jpeg" style="max-width:100%">
</div>
  <div class='col-md-5 col-sm-12 col-lg-5 col-xs-12 mx-auto pb-4 mobile-text-center' data-aos="fade-in">
<p class="lead me-3" style="text-align: left">It was important to us that we designed Witness around a core number of things 1) Uncompromised privacy 2) Near-zero modification or integration downtime 3) Operational resilience. Witness is also already deployed on Ethereum and Binance Smart Chain. Near-zero modification or integration downtime 3) Operational resilience. Witness is also already deployed on Ethereum and Binance Smart Chain. 
</p>
</div>
</div>
        </div>
      </div>
      </section>
<!-- Second Banner -->
<!-- Third Banner -->
<section class="py-5" style="background: #F1ECEC;
">
  <div class="container py-5">
  <div class="row text-center ps-1">
    <div class='col-md-6 col-sm-12 col-lg-6 col-xs-12 mx-auto pb-4 text-center' data-aos="fade-in">
<h2 class="second-section-witness text-bolder text-dark responsive-font-h1 text-center">Be Part Of Our Growing Community</h2>
</div>
</div><div class="row text-center ps-1"> 
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4 aos-init aos-animate" data-aos="fade-in">
<div class="">
        <div class="card-body">
<img src="{{site.url}}/assets/img/discord-svg.svg" style="width:100px;height:100px" class="mb-4">
            <h4 class="card-title">Join the discussion</h4>
        </div>
</div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4 aos-init aos-animate" data-aos="fade-in">
<div class="">
        <div class="card-body">
<img src="{{site.url}}/assets/img/telegram-svg.svg" style="width:95px;height:100px;filter: grayscale(100%) brightness(70%) contrast(4);" class="mb-4">
            <h4 class="card-title text-dark">Ask technical questions</h4>

        </div>
</div>
        </div>
<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4 aos-init aos-animate" data-aos="fade-in">
<div class="" style="border-right:0px">
        <div class="card-body">
<img src="{{site.url}}/assets/img/twitter-svg.svg" style="width:100px;height:100px" class="mb-4">
            <h4 class="card-title">Real-time updates</h4>
        </div>
</div>
        </div>
      
    </div>
 
  </div>
      </section>
      <section class="bg-light pb-5">
        <div class="container pt-15vh pb-5">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mx-auto text-center" data-aos="fade-up" data-aos-duration="3000"style="border-right:15px #F9B249 solid;">
              <h1 class="text-bolder text-ata text-center pb-4">Work at Automata</h1>
              <h5 class="pb-3">View our openings</h5>
              <p>Apply</p>
            </div>    
<div class="col-md-6 col-lg-6 col-sm-12 mx-auto text-center" data-aos="fade-up" data-aos-duration="3000" style="border-left:15px #F9B249 solid;
">
                <h1 class="text-bolder text-ata text-center pb-4">Media Kit</h1>
              <h5 class="pb-3">Our official guidelines</h5>
              <p>Apply</p>

            </div> 
          </div>
            </div>
      </section>
      {% include footer.html %}
      {% include scripts.html %}
    </body>
  </html>