<!DOCTYPE html>
  <html lang="en">
{% include header.html %}
{% include navbar.html %}
    <body class="bg-white pt-80px">
      <!-- First Banner -->
      <section class="witness-main-banner-bg vh-90">
        <div class="container pt-30vh">
          <div class="row pt-5">
            <div class="col-md-12 col-lg-12 col-sm-12" data-aos="fade-up" data-aos-duration="3000">
              <h1 class="main-banner-witness text-bolder responsive-font-h1-witness text-ata text-center">Witness</h1>
            </div>     
          </div>
            </div>
      </section>
      <!-- First Banner -->
      <!-- Second Banner -->
  <section class="py-5 witness-second-banner-bg">
  <div class="container py-5">
  <div class='row text-center ps-1'>
        <div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//yyecauzv.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">Customized Privacy</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
        <div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//vaeagfzc.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">Zero-gas Voting</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
<div class='col-md-4 col-sm-4 col-lg-4 col-xs-12 mx-auto pb-4' data-aos="fade-in">
<div class="border-right-ata" style="border-right:0px">
        <div class="card-body">
          <lord-icon
    src="https://cdn.lordicon.com//qghrdngw.json"
    trigger="loop"
    colors="primary:#121331,secondary:#fc813c"
    style="width:100px;height:150px">
</lord-icon>
            <h4 class="card-title">On-Chain Execution</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
        </div>
      
    </div>
 
  </div>
      </section>
<!-- Second Banner -->
<!-- Third Banner -->
<section class="pb-5 witness-third-banner-bg">
  <div class="container pb-5">
    <div class="row text-center ps-1">
      <div class='col-md-6 col-sm-12 p-0 col-lg-6 col-xs-12 mx-auto pb-4 text-center' data-aos="fade-in">
        <h2 class="text-bolder text-ata responsive-font-h1 text-center pb-4">How It Works</h2>
      </div>
    </div>
    <div class="row text-left mx-auto mb-4 pb-4">
      <div class="svg-container-main" style="position: relative">
        <div class="svg-container" style="position: absolute;overflow: hidden;top:0;left: 0;width: 100%;height: auto">
            <svg class="path"style="" xmls="http://www.w3.org/2000/svg" fill="none" width="100%" height="auto" viewBox="-90 0 1393 413">
              <g class="ecosystem--line" style="transform:translate(0,4px)"><path stroke="#000000" stroke-linecap="round" stroke-width="3" d="M22 195.5c1.667 64.667 43.5 194 197.5 194S412 260.167 422 195.5c4-64.667 48.2-194 193-194s191.333 129.333 196.5 194c1.333 64.833 42.4 194.5 196 194.5s193.33-129.667 194-194.5" class="ecosystem--line-rail">      
        </path>
         <path class="path" stroke="#fb641d" stroke-linecap="round" stroke-width="6" d="M22 195.5c1.667 64.667 43.5 194 197.5 194S412 260.167 422 195.5c4-64.667 48.2-194 193-194s191.333 129.333 196.5 194c1.333 64.833 42.4 194.5 196 194.5s193.33-129.667 194-194.5" class="ecosystem--line-path" style="stroke-dashoffset: 0; stroke-dasharray: 613.266, 1839.8px;">
           <animate attributeName="stroke-dashoffset" to="0" dur="0.5s" begin="startAnimation.begin" fill="freeze"/>
           <animate attributeName="stroke-dashoffset" to="-613" dur="0.5s" begin="middleAnimation.begin" fill="freeze"/>
           <animate attributeName="stroke-dashoffset" to="-1226" dur="0.5s" begin="endAnimation.begin" fill="freeze"/>
             </path></g>
            </svg>
          </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-4 pb-5 mx-auto px-4">
        <div onclick="grayscale_2_3()" data-aos="fade-right"
     data-aos-easing="ease-in-sine" class="bg-transparent text-center pt-4 mx-4" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-60 -25 200 200" version="1.1">
  <!--  control element-->
  <g>
      <image id="vector1" class="path m-5 hover-1" href="https://taosolutions.dev/cloud/wl/?id=l9198Vnq9pzcU6vDaKlCUw8sxCjirwgV">
      <animate id="startAnimation" dur="2.0s" attributeName="r" values="100; 100" fill="freeze" begin="click" />
    </image>
  </g>
</svg>
  </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-4  pb-5 mx-auto px-4">
        <div onclick="grayscale_1_3()" data-aos="fade-right"
     data-aos-offset="200"
     data-aos-easing="ease-in-sine" class="bg-transparent text-center pt-4 mx-4" >
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="-30 -25 200 200" version="1.1">
  <!--  control element-->
  <g>
      <image id="vector2"class="path m-5 hover-1" href="https://taosolutions.dev/cloud/wl/?id=zvyxXeZrQUqOJxU5xUJ5JEMuC4rnuH7d">
      <animate id="middleAnimation" dur="2.0s" attributeName="r" values="100; 100" fill="freeze" begin="click" />
    </image>
  </g>
</svg>
    
  </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-4 pb-5 mx-auto px-4">
        <div onclick="grayscale_1_2()" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" class="bg-transparent text-center pt-4 mx-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="5 -25 200 200" version="1.1">
  <!--  control element-->
  <g>
      <image id="vector3"class="path m-5 hover-1" href="https://taosolutions.dev/cloud/wl/?id=bH8YiZyo5BkmC7V0SEtxuvdVqVmJuk3G">
      <animate id="endAnimation" dur="2.0s" attributeName="r" values="100; 100" fill="freeze" begin="click" />
    </image>
  </g>
</svg>
  </div>
      </div>
    </div>
    <div class="row text-center mx-auto mb-4 pb-4">
      <p id="text-1">This is a text description. Built On Cutting-edge Technology . Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p id="text-2" class="d-none-normal">Some quick example text to build on the card title and make up the bulk of the card's content. This is a text description. Built On Cutting-edge Technology. </p>
      <p id="text-3" class="d-none-normal">Built On Cutting-edge Technology. Some quick example text to build on the card title and make up the bulk of the card's content. This is a text description.</p>
    </div>
  </div>
  </section>

  <section class="py-5 witness-orange-gradient-bg">
    <div class="container py-5 my-5">
      <div class="row text-center mx-auto">
        <div class="col-md-8 col-lg-8 col-sm-12 mx-auto">
          <h2 class="text-white text-bold" data-aos="zoom-in">Built On Cutting-edge Technology</h2>
        </div>      
      </div>
    </div>
  </section>
<section>
  <div class="container-fluid mx-0 px-0">
  <div class="">
    <video muted autoplay controls class="w-100">
        <source src="https://taosolutions.dev/cloud/wl/?id=I34qG5aUQWU88IUlztfoDFSI2RxjQCrD" type="video/mp4">
    </video>
</div>

<!-- CSS -->
</div>
</section>

<section class="py-4" >
       <div class="container py-4">
      <div class="row">
          <div class='col-md-12 pb-4'>
        <h1 class='text-center third-banner-h3 text-bolder text-ata'>On the Conveyor</h1>
    </div>
      </div>
</div>
  
        <div class="container">
          <div class="row">
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.alameda-research.com/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="{{site.baseurl}}/assets/img/alameda-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.div.vc/ " target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="{{site.baseurl}}/assets/img/divergence-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://gbv.capital/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="{{site.baseurl}}/assets/img/gbv-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://iosg.vc/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="{{site.baseurl}}/assets/img/iosg-logo.png">
                </div>
              </a>
            </div>
            <div class="col-md-5ths col-sm-5ths col-4">
              <a href="https://www.kryptonite1.co/" target="_blank">
                <div>
                  <img class="responsive-image filter-ata" src="{{site.baseurl}}/assets/img/kr1-logo.png">
                </div>
              </a>
            </div>
          </div>
        </div>
        </section>
    </section>

<section class="py-4 witness-grey-vector-bg-2">
       <div class="container py-4"data-aos="zoom-out-up" >
      <div class="row">
          <div class='col-md-6 col-lg-6 pb-4'>
        <h1 class='third-banner-h3 m-4 text-bolder text-left responsive-font-h2-witness text-ata'>WITNESS IS <br>LIVE ON<br> <span class="text-ata"> ETHEREUM & <br>BINANCE <br>SMART CHAIN</span></h1>
    </div>
      </div>
    </div>
    </section>
      {% include footer.html %}
      {% include scripts.html %}
    </body>
  </html>